<header class="header">
    <div class="header-container">
        <!-- Logo/Nome à esquerda -->
        <div class="header-logo">
            <h1 class="header-heading">
                <a href="{% url 'contact:index' %}" class="header-link">
                    Agenda
                </a>
            </h1>
        </div>

        <!-- Barra de busca no centro -->
        <div class="header-search">
            <form action="{% url 'contact:search' %}" method="GET">
                <input type="text" 
                class="search-input" 
                placeholder="Search" 
                id="search" name="q"
                value="{{ request.GET.q.strip }}">
            </form>
        </div>

        <!-- Menu à direita -->
        <nav class="header-menu">
            <ul class="menu-list">
                {% if user.is_authenticated %}
                    <li class="menu-item">
                        <a href="{% url 'contact:create' %}" class="menu-link">
                            Create
                        </a>
                    </li>  
                    <li class="menu-item">
                        <a href="{% url 'contact:user_update' %}" class="menu-link">
                            Profile
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'contact:logout' %}" class="menu-link">
                            Logout 
                        </a>
                    </li>
                {% else %}
                    <li class="menu-item">
                        <a href="{% url 'contact:logout' %}" class="menu-link">
                            Login 
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'contact:register' %}" class="menu-link">
                            Register
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>